
<header class="header">
    @if (Request.IsAuthenticated)
    {
        // kullanıcı adını ve logout linklerini çıkar

        <a href="#" class="logo">
            <img src="~/Content/images/logo.png" alt="logo"/>
        </a>

        <nav class="navbar">
            <a href="/Home/Index">Home</a>
            <a href="/Home/About">About Us</a>
            <a href="/Home/Contact">Contact</a>
        </nav>

        <div class="buttons">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button>
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    }
    else
    {
        //login ve register linklerini çıkar

        <a href="#" class="logo">
            <img src="~/Content/images/logo.png" alt="logo"/>
        </a>

        <nav class="navbar">
            <a href="/Home/Index">Home</a>
            <a href="/Home/About">About Us</a>
            <a href="/Home/Contact">Contact</a>
        </nav>

        <div class="buttons">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button>
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    }
   
</header>